* {
	font-family: 'Almarai', sans-serif;
	/* background-color: rgb(251, 251, 251); */
}

section {
	/* background-color: aquamarine;
	border: 1px solid black; */
}

.headrow {
	/* background-color: rgb(168, 168, 227); */
	margin: 50px 0px;
}

.titlediv {
	/* background-color: orange; */
}

.headtitle {
	font-weight: 700;
	font-size: 133px;
	padding-left: 88px;
}

.searchdiv {
	margin: auto;
	text-align: right;
	padding-right: 88px;
	/* background-color: rgb(209, 183, 134); */
}


.search {
	margin-right: 8px;
	height: 55px;
	width: 47%;
	font-size: 18px;
	font-weight: 400;
	padding: 12px;
	border: 1px solid rgb(0, 0, 0);
	background-color: black;
	color: white;
	border-radius: 2px;

}

.btnsearch {
	height: 55px;
	width: 55px;
	font-size: 18px;
	border-radius: 2px;
	border: 1px solid rgb(0, 0, 0);
	background-color: black;
	color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

.results {
	margin: 0px 112px;
	margin-bottom: 133px;
	margin-top: 37px;
	/* background-color: aqua; */
}

.resultsmeal {
	margin: 0px 112px;
	margin-bottom: 133px;
	margin-top: 37px;
	/* background-color: rgb(187, 212, 143); */
}


.card {
	border: none;
	background-color: rgba(255, 0, 0, 0);
	margin: 8px;
	padding: 11px;
	border: 1.5px solid black;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}


.image {
	border-radius: 2px;
	object-fit: cover;
	object-position: center center;
	/* width: 100%; */
	/* height: 100%; */
	aspect-ratio: 1/1;
}

.caption {
	margin: 10px 0px;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
}

.card1 {
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding: 44px;
	width: 30%;
}


.min-max {
	margin-top: 28px;
	margin-bottom: 16px;
}

.minVal {
	display: inline-block;
	text-align: center;
	/* padding: 8px; */
	/* border: 2px solid red; */
}

.maxVal {
	display: inline-block;
	text-align: center;
	/* padding: 8px; */
	/* border: 2px solid rgb(4, 0, 255); */
}

.weather {
	margin-top: 22px;
	font-size: 32px;
	font-weight: 200;
	color: rgb(93, 147, 213);
}


#cityName {
	font-size: 52px;
	text-align: center;
	font-weight: 300;
	color: rgb(10, 65, 133);

}

.current {
	text-align: center;
	font-size: 22px;
	font-weight: 200;
}


#weatherCont {
	margin-top: 55px;
	margin-left: 88px;
	margin-right: 88px;
}




































.mealtitle {
	font-size: 66px;
	font-weight: 700;
}

.mealimg {
	width: 100%;
}